.newsletter {
  margin: 0 auto;
  text-align: center;
  background-color: #17c164;
  border: 1px solid #000000;
  border-radius: 15px;
  padding: 10px 0px 12px;

  &__info {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  &__picture {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 30px;

    &-image {
      height: 80px;
      width: 110px;
    }
  }

  &__input {
    padding: 5px 2px;
    border-radius: 5px;
    border: 1px solid transparent;
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;

    &:active,
    &:focus {
      border: 1px solid black;
      outline: none;
      box-shadow: 2px 2px 3px rgba(77, 77, 77, 0.3);
    }
  }

  &__subscribe {
    background-color: orange;
    color: white;
    font-weight: 500;
    font-size: 17px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    width: 400px;

    &:hover {
      box-shadow: 2px 2px 2px 2px rgba(53, 53, 53, 0.418);
    }
  }
}
