body {
  background-image: url(../img/hundene2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.header {
  background-color: #000000;
  height: 45px;
  width: 100%;
}

/* Main picture settings begin here! */

.intro {
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  width: 400px;

  &__welcome {
    color: #fff;
  }
}

/* Description and frames settings begin here! */

.description {
  margin: 140px 0 0 55px;
  width: 442px;

  &__info {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
  }

  &__learn {
    display: flex;
    flex-direction: row;
    margin: 12px;
    text-align: center;
  }

  &__button {
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 700;
    line-height: 40px;
    margin: 20px;
    width: 110px;

    &:hover {
      background-color: #fff;
    }
  }
}

/* Main menu settings begin here! */

.main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 120px;
  width: 100%;

  &__menu {
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 15px;
    height: 120px;
    margin: 6px;
    position: relative;
    text-decoration: none;
    text-align: center;
    width: 180px;

    &-who {
      background-image: url(../img/hundene3.jpg);
    }

    &-update {
      background-image: url(../img/hundene4.jpg);
    }

    &-picture {
      background-image: url(../img/hundene5.jpg);
    }

    &-play {
      background-image: url(../img/hundene7.jpg);
    }

    &-info {
      bottom: 0;
      color: #fff;
      font-weight: 700;
      position: absolute;
      width: 100%;
    }

    &:hover {
      box-shadow: 2px 2px 2px 2px;
      color: #000;
      transform: scale(1.03);
    }
  }
}
