body,
body * {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

body {
  background-image: url(../img/hundene2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto";
  margin: 0;
  padding: 0; }

.newsletter {
  background-color: #2ca806;
  border-radius: 15px;
  border: 1px solid #000000;
  margin: 0 auto;
  padding: 10px 0px 12px;
  text-align: center; }

.newsletter__info {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px; }

.newsletter__picture {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 30px;
    text-align: center; }

.newsletter__picture-image {
      height: 80px;
      width: 110px; }

.newsletter__input {
    border-radius: 5px;
    border: 1px solid transparent;
    display: block;
    margin-bottom: 15px;
    margin: 0 auto;
    padding: 5px 2px;
    width: 80%; }

.newsletter__input:active, .newsletter__input:focus {
      border: 1px solid black;
      -webkit-box-shadow: 2px 2px 3px rgba(77, 77, 77, .3);
              box-shadow: 2px 2px 3px rgba(77, 77, 77, .3);
      outline: none; }

.newsletter__subscribe {
    background-color: orange;
    color: white;
    font-weight: 500;
    font-size: 17px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    width: 400px; }

.newsletter__subscribe:hover {
      -webkit-box-shadow: 2px 2px 2px 2px rgba(53, 53, 53, .418);
              box-shadow: 2px 2px 2px 2px rgba(53, 53, 53, .418); }

.header {
  background-color: #000000;
  height: 45px;
  width: 100%; }

/* Main picture settings begin here! */

.intro {
  border: 2px solid #fff;
  border-radius: 15px;
  margin: 12px auto 0;
  text-align: center;
  -webkit-transition: all 800ms ease-in-out;
  transition: all 800ms ease-in-out;
  width: 400px; }

.intro:hover {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); }

.intro__welcome {
    color: #fff; }

.highlighted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 40px; }

.newsletter {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  margin-left: 10px; }

/* Description and frames settings begin here! */

.description {
  margin-right: 10px;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%; }

.description__info {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    width: 52%; }

.description__learn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 12px;
    text-align: center; }

.description__button {
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 700;
    line-height: 40px;
    margin: 20px;
    width: 110px; }

.description__button:hover {
      background-color: #fff;
      -webkit-box-shadow: 2px 2px 2px 2px;
              box-shadow: 2px 2px 2px 2px;
      -webkit-transform: scale(1.03);
              transform: scale(1.03); }

/* Main menu settings begin here! */

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  margin-top: 120px;
  width: 100%; }

.main__menu {
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
    border-radius: 15px;
    height: 120px;
    margin: 6px;
    position: relative;
    text-decoration: none;
    text-align: center;
    width: 180px; }

.main__menu-who {
      background-image: url(../img/hundene3.jpg); }

.main__menu-update {
      background-image: url(../img/hundene4.jpg); }

.main__menu-picture {
      background-image: url(../img/hundene5.jpg); }

.main__menu-play {
      background-image: url(../img/hundene7.jpg); }

.main__menu-info {
      bottom: 0;
      color: #fff;
      font-weight: 700;
      position: absolute;
      width: 100%; }

.main__menu:hover {
      -webkit-box-shadow: 2px 2px 2px 2px;
              box-shadow: 2px 2px 2px 2px;
      color: #000;
      -webkit-transform: scale(1.03);
              transform: scale(1.03); }
